@import 'tailwindcss';

@theme {
	--color-mint-500: oklch(0.72 0.11 178);
	--color-promotion-blue-start: #0d57c6;
	--color-promotion-cyan-mid: #37cfff;
	--color-promotion-blue-end: #0f5ed6;
	--color-badge-orange: #ff5630;
	--text-ssm: 0.75rem;
	--color-secondary: #637381;
	--color-category-bg: #f4f6f8;
	--color-gray-line: #919eab3d;
	--color-brand-blue: #025fca;
	--color-brand-blue-50: #e6f1ff;
}

@media (min-width: 1400px) and (max-width: 1800px) {
	html {
		font-size: 14px;
	}
}
body {
	font-family: 'Epilogue', sans-serif;
	font-size: 1rem;
}
